
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://cdn.dribbble.com/users/1162077/screenshots/4318436/media/1e17490dd92ca27c4a6274ab7bff5b11.png?compress=1&resize=400x300');
}
#content{
    margin-top: 25vh;
    color: rgb(0, 0, 0);
    background-color: rgb(209, 179, 145);
    padding-left: 1%;
    padding-top: 1%;
}
#field{
    width:350px;
}
#contener{
    width: 50%;
    
}

@media(max-width:897px){
    #send{
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
    }
}
#ankan{
    color: rgb(255, 2, 2);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-stretch: condensed;
}